/*================================================css for changes============================================*/
#header .navbar-default{
    padding: 10px 0 !important;
}
.navbar-brand{
	padding:0px 15px;
    height: 60px !important;
}
.navbar-brand img.img-responsive{
	height: 60px !important;
    width: 140px !important;
}
.category-item{
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition:all .5s;
}
.category-item:hover img{
	/*-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);*/
	-webkit-animation: mymove 8s; /* Chrome, Safari, Opera */
    animation: mymove 8s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {-webkit-transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes mymove {
    50% {transform: rotate(360deg);}
}
.featured-image{
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition:all .5s;
}
.featured-image:hover img{
	transform: rotate(1deg);
}
.add_header .left_add_header{
	float:left;
}
.add_header .right_add_header{
	float:right;
}
.add_header .right_add_header ul{
	list-style:none;
}
.add_header ul li {
	display: inline-flex;
    padding-right: 10px;
    font-size: 18px;
}
.add_header ul li a{
	display:inline-flex;
}
.add_header ul li a.btn-sm{
	padding:8px 18px;
}
/* Dropdown Button */
.dropbtn {
    background-color:transparent;
    color:#00a651;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover{
	color:#00a651;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    right: 5px;
}

.no-margin{
    margin-top: 0 !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 30px;
    text-decoration: none;
    font-size: 15px;
    display: block !important;
}
/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content h4{
	padding:10px;
    font-size: 16px !important;
}
.dropdown-content h5{
    padding:10px;
    margin-bottom:0px;
}
.drop-border-bottom{
	border-bottom:1px solid grey;
}
.dropdown-content a.log_out{
	padding: 0px;
    margin-bottom: 0px;
    background: #c3c3c3;
}
.dropdown-content h4{
	margin-bottom:0px;
}
.text-muted{
	color: #a5a5a5;
}
.paybalance-box.br3{
	float: right;
    background: #ffffff;
    border: 1px solid #dedede;
    margin-top: 12px;
    padding: 7px 10px 7px 13px;
    white-space: nowrap;
    min-width: 200px;
    border-radius: 5px;
    color: #9e9e9e;
}
.paybalance-box.br3 .dropdown-menu li{
	padding:6px 10px;
}
.info_i{
	background:#00a651;
    padding: 0px 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height:27px;
}
.color-black{
	color:black;
}
.badge-change{
	top: -15px;
    position: relative;
    right: -20px;
    background: black;
}
#flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}
.top-20{
	margin-top:20px;
}
.foalt_prop{
	float:right;
}
.adds_table label{
	position: relative;
    top: 8px;
}

ul.add_list li{
	list-style:none;
}
ul.add_list li{
	display:inline-flex;
}
ul.add_list li a{
	padding-right: 8px;
}
ul.add_list li a.red_color{
	color:red;
}
ul.add_list li a.red_color:hover{
	color:red;
	text-decoration:none;
}
.img_ad{
	height:65px;
}
.add_table_list{
	font-size:12.4px;
	border:1px solid #ddd;
	cursor:pointer;
}
.add_table_list thead tr th{
	font-size:14px;
}
.view_ad_statics td{
	font-size:14px;
}
.view_ad{
	padding-left:10px;
}
.top-5{
	margin-top:5px;
}
.nav-tabs.nav_add_page{

}
.nav-tabs.nav_add_page>li.active>a, .nav-tabs.nav_add_page>li.active>a:focus, .nav-tabs.nav_add_page>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: transparent;
    border:1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs.nav_add_page{
	border-bottom: none;
}
.nav-tabs.massage_box{
	border-bottom:none;
}
.nav-tabs.massage_box>li.active>a, .nav-tabs.massage_box>li.active>a:focus, .nav-tabs.massage_box>li.active>a:hover{
	color: #555;
    cursor: default;
    background-color: transparent;
    border: none;
    border: transparent;
}
.nav.nav-tabs.massage_box>li>a:hover{
	border-color:transparent;
}
.nav.nav-tabs.massage_box>li.active>a{
	border-bottom:2px solid black;
}
.nav.nav-tabs.massage_box li a{
	font-size:12px;
}
.line_margin{
	margin-left: 10px;
    margin-right: 10px;
}
.massage_table thead tr th{
	color:#959595;
}
.th_font_size{
	font-size:17px;
}
.badge-change-msg{
	top: -8px;
    position: relative;
    left: -10px;
    background: black;
}
.user_chat_ul{
	list-style:none;
	text-align:right;
}
.user_chat_ul li {
	display: inline-flex;
	margin-left: 10px;
}
.heading_massage{
	padding: 10px 20px;
    border-bottom: 1px solid #ebebeb;
    background: #e8e5e5;
}
.add_form_froup{
	margin-bottom:0px;
}
.add_form_froup .form-control{
	height:32px;
	
}
.no-padding{
	padding:0px;
}
.table_back_color{
	padding: 10px;
    background: #F8FEF0;
}
.cloud{
	background: #fbf47b;
    font-size: 15px;
    line-height: 19px;
    padding: 12px 25px;
    border-radius: 40px 40px 40px 2px;
}
.bottom-20{
	margin-bottom:10px;
}
#accordion.panel-group.tashleeh_panel label:before{
	position:static;
    color: #9e9e9e;
    font-size: 16px;
    content: "";
    font-family: 'FontAwesome';
    left: 0;
    top: 0;
}
#accordion.tashleeh_panel .panel-body label{
	padding-left:0px;
}
.setting_span span{
	padding-left: 10px;
}
.right_add_header .dropdown:hover{
	background: transparent;
}
button , a{
	transition: all .5s;
}


.form-group label.error{
	color: #f56b6b;
	font-size: 14px;
	float: left;
}
.sign-in.no-back li:last-child::before{
  	background-image: none !important;  
}
.sign-in.no-back li:last-child{
	padding-left: 0 !important;
}
#signing-error::before{
	content: none !important;
}
#send-error::before{
	content: none !important;
}
#clear{
	display: block;
	clear: both;
}
.premium-btn {
    padding: 5px 25px 7px;
    background-color: #0072bc;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}
.premium-btn:hover{
	color: white !important;
	background-color: #00a651 !important;
}
.premium-btn:active{
	color: white !important;
	background-color: #00a651 !important;
}
.premium-btn:focus{
	color: white !important;
	background-color: #00a651 !important;
}
#p-selection{
	float: right;
	display: none;
}
.adpost-details .agreement label{
	margin-bottom: 0px !important;
}
.banner-form-full.banner-form .form-control, .banner-form-full.banner-form .category-dropdown{
	/*width: 22% !important;*/
    width: 100% !important;
}
/*@media (min-width: 992px) and (max-width: 1199px)
{
    .banner-form-full.banner-form .form-control, .banner-form-full.banner-form .category-dropdown{
    width: 85% !important;
}
}
@media (min-width: 767px) and (max-width: 992px)
{
    .banner-form-full.banner-form .form-control, .banner-form-full.banner-form .category-dropdown{
    width: 80% !important;
}
}*/
/*.banner-form .form-control, .banner-form .category-dropdown{
	width: 100% !important;
}*/
.margin-20{
    margin-top: 20px;
}
.full-width{
    width: 100%;
}
.report-textarea{
    width: 100%;   
}

.error{
    font-size: 14px;
    color: #e07f7f;
}
.banner-section h3{
    font-size: 18px !important;
    margin: 10px 0 10px !important;
}
#invalid_email{
    display: none;
}
#reg_completed{
    display: none;
}
.success{
    font-size: 14px;
    color: #3ecf3e;
}
span.verified {
    position: absolute !important;
    top: 30px !important;
    right: -40px !important;
    transform: rotate(50deg) !important;
    background: yellow !important;
    width: 150px !important;
    text-align: center !important;
    padding: 2px !important;
}
.manage-view{
    font-size: 14px !important;
}
.dropbtn{
	font-size: 16px;
}
.featured{
	/*background-color: #ffff9c !important;*/
    /*background-color: #0087e0;*/
    background-color: #c5c5c5;
}
.order-error{
    color: #dadee0 !important;
}
/*==================================================css for subcategories page==============================================*/
.sub_img img{
    height: 65px;
    width: 80px;
    margin: 0 auto;
}
.main-sub_img{
    height:100px;
    width:150px;
}
.sub_img{
    text-align: center;
    height: 150px;
    width:auto;
}
.nav-pills.nav-pills-change>li{
    float:none;
}
.yellow_box{
    padding: 12px 16px 10px;
    cursor: pointer;
    background-color: #FBFAAE;
    border-radius:5px;
}
.yellow_box .fa-map-maker-chng{
    font-size: 18px;
    letter-spacing: 8px;
}
.size-18{
    font-size: 18px !important;
}
.size-22{
    font-size: 25px !important;
}
.color-orange{
    color: #f36d2d !important;
}
.inline-data{
    display: inline-flex;
}
li.active-category{
    color: #00a651;
}
li.active-category a{
    color: #00a651 !important;
}
.sub-cat-items{
    margin: 0px 0 !important;
    min-height: 50px !important;
}
.sub-cat-views{
    /*display: inline-flex;*/
    max-width: 100%;
}
.sub-cat-views li{
    padding: 0px 40px 0px 0px;
    width: 257px;
    display: inline-block;
}
.bottom-30{
    margin-bottom: 20px;
}
.required-field{
    color:  #f56b6b;
}
#registration_form label.required-field{
    float: right;
    height: 10px;  
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    font-weight: normal !important;
    color: #00a651 !important;
    border-color:#00a651  !important;
    background: none !important;
}
.banner-form .form-control, .banner-form .category-dropdown{
    width:100%;
}
/*#ui-id-1{
            display: block !important;
        }*/



        /*css for rtl direction*/
.navbar-left{
    float: right!important;
}
.navbar-nav {
    float: right;
}
.nav-right {
    text-align: left;
}
.banner-form input{
    margin-right:-4px;
}
.dropdown-content h4{
    text-align:right;
}
.dropdown-content a.log_out{
    text-align:right;
}
.contact-info ul.social li  a{
        margin-left: 18px;
        /*margin-left:0px;*/
}
.social{
    float:right;
}
.contact-info ul.social li {
    float: right;
}
.sb-img {
    margin-bottom: 40px;
    border: 2px dashed #fff;
    height: 153px;
}
.sb-img:hover {
    border: 2px dashed #00a651;
    padding: 24px;
}

.owl-carousel
{
            direction: ltr !important;
}
.sub_img {
    text-align: center;
    padding: 24px;
}

.sb-img1:hover 
{
    margin-bottom: 40px;
    border: 2px dashed #00a651;
    padding: 13px;
    text-align: center;
}

.sb-img1
{
    margin-bottom: 40px;
    border: 2px dashed #fff;
    padding: 13px;
    text-align: center;
}
.drop-down
{
    width: 100%;
    text-align: left !important;
}
.short-b
{
    margin-left: 5px;
    cursor: pointer !important;
}
ul.drop-m
{
    right: -65px !important;
    cursor: pointer;
}
.adme-ta 
{
    margin-right: 0 !important;
}
.usr-option
{
    position: absolute;
    /*background-color: #fff;*/
    left: 0;
    width: 40px;
    text-align: center;
    height: 33px;
}
.usr-option:hover
{
    background-color: #ffff9c !important
}
.meta-c
{
    direction: ltr;
    text-align: right;
    padding-right: 10px;
}
.meta-c1
{
    direction: ltr;
    text-align: right;
}
.featureds .ad-info {
    min-height: 140px;
    direction: rtl;
}
.featured .ad-meta {
    position: inherit;
    width: 100%;
    direction: rtl;
}
ul.sub-cat-views 
{
    padding: 12px 20px !important;
}
.srch
{
    border-radius: 0 !important;
}
.direction-l
{
    direction: ltr;
    text-align: right;
}
.sort-b
{
    position: relative;
    top: 23px;
}
.f-e
{
    padding-left: 10px;
}
.selected-product  .edit{
    left: 0px;
    right: auto;
}

/*======================its my=======================*/

@media (min-width: 767px)
{
.sec-tion-w
{
    width: 500px;
    margin: auto;
    /*margin-bottom: 45px;
    padding-top: 27px;*/
    padding: 49px;
}
/*.bg-w
{
    background: #fff;
}*/
}
.margin-t-20
{
    margin-top: 30px;
}
@media (min-width: 992px)
{
.margin-t-20
{
    margin-bottom: 135px;
}
}

@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 700;
  font-size: 25px !important;
  src: url("../fonts/password.ttf");
}

input.key {
  font-family: 'password';
  font-size: 30px;
  text-align: center;

}
.close-butn
{
    background: #bce8f1 !important;
    opacity: 1 !important;
    padding: 0 5px !important;
    border: 4px double #fff !important;
}
.modl-c
{
        border: 6px double #bce8f1;
        padding-bottom: 0 !important;
}
.mf
{
        text-align: right;
}
.lbl-m
{
        margin-top: 13px;
}
.margin-b-30
{
    margin-bottom: 30px;
}
ul.no-back li:last-child:before {
    padding: 0 5px;
    color: #ccc;
    content: "";
    color: #000;
}
.no-back li:last-child:after {
    position: absolute;
    right: -12px;
    top: 50%;
     background:none; 
    background-repeat: no-repeat;
    width: 7px;
    height: 14px;
    content: "";
    margin-top: -7px;
}
.table_rtl tr{
    direction: ltr;
    text-align: right;
}
.span_ltr
{
    float: left;
    direction: ltr;
    text-align: right;
    padding-top: 6px;
}
.carousel-image
{
        height: 500px;
}
/*=================================css for index table after adds page=======================================================*/
.tble-sectn{
    margin-top: 15px;
    margin-bottom:50px;
}
.tble-sectn .table>thead>tr>th{
    border-bottom:0px;
}
.tble-sectn thead{
    background: #0072bc;
    color: #fff;
}
.tble-sectn .recommended-ads h4{
    color:#00a651;
}
.tble-sectn .table{
    margin-top:15px;
}
.tble-sectn .table b{
    color:#00a651;
}